<form [formGroup]='employeeForm' (ngSubmit)="onSubmit()">
  <div class="form-group"
    [ngClass]="{'text-danger': employeeForm.get('email').errors && (employeeForm.get('email').touched || employeeForm.get('email').dirty)}">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp" placeholder="Enter email" required>
      <span class="help-block" *ngIf="employeeForm.get('email').errors && (employeeForm.get('email').touched || employeeForm.get('email').dirty)">
        <span *ngIf="employeeForm.get('email').errors.required">email is required!!</span>
      </span>
  </div>
  <div class="form-group" [ngClass]="{'text-danger': employeeForm.get('password').errors && (employeeForm.get('password').touched || employeeForm.get('password').dirty)}">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
      placeholder="Password" required>
      <span class="help-block" *ngIf="employeeForm.get('password').errors && (employeeForm.get('password').touched || employeeForm.get('password').dirty)">
          <span *ngIf="employeeForm.get('password').errors.required">password is required!!</span>
        </span>
  </div>
  <button [disabled]="employeeForm.invalid" type="submit" [disabled] class="btn btn-primary">Submit</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">formGroup</th>
      <th scope="col">formControl</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        fsdhfjkhdk{{employeeForm.get('email').errors}} <br>
        touched:{{ employeeForm.touched }}
        <br>dirty:{{ employeeForm.dirty }}
        <br>valid:{{ employeeForm.valid }}
        <br>Form Values:{{ employeeForm.value | json }}
      </td>
      <td>
        touched:{{ employeeForm.get('email').touched }}
        <br>dirty:{{ employeeForm.get('email').dirty }}
        <br>errors:{{ employeeForm.get('email').errors }}
        <br>valid:{{ employeeForm.get('email').valid }}
        <br>Form Name Values:{{ employeeForm.get('email').value}}
      </td>
    </tr>
  </tbody>
</table>