<h1>
  Contact Us
</h1>
<form [formGroup]="messageForm">
  <h5 *ngIf="success">Your form is valdi!!</h5>
<label>
  Name:
  <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">
        Your name is required, Bro..
      </div>
    </div>
</label>
<label>
    Message:
    <textarea formControlName="message"></textarea>
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
        <div *ngIf="messageForm.controls.message.errors.required">
          A message is required
  
        </div>
      </div>
  </label> 
  <input type="submit" value="Send message" (click)="onSubmit()"class="cta">
</form>
<div *ngIf="submitted" class="results">
  <strong>Name:</strong>
<span>{{messageForm.controls.name.value}}</span>
<strong>Message:</strong>
<span>{{messageForm.controls.message.value}}</span>
</div>