header {
    background: #7700ff;
    .logo {
        font-weight: bold;
    }
    .div {

    display: flex;
    flex-wrap: nowrap;

    }
    nav {
       justify-content: flex-end;
       text-align: right;
       float: right;
       margin-left: auto;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            li {
                
                float: left;
                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
                    &:hover {
                        background: #8E2BFF
                    }
                }
            }
        }
    }
}