<header>
  <div class="container div">
    <a routerLink='/' class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li><a routerLink='/' class="logo">Home</a></li>
        <li><a routerLink='/about' class="logo">About</a></li>
        <li><a routerLink='/contact' class="logo">Contact</a></li>
        <li><a routerLink='/reactiveforms' class="logo">Reative Forms</a></li>
      </ul>
    </nav>

  </div>
</header>