div {

    justify-content: center;
    text-align: -webkit-center;
    h1 {
        margin-left: 8%;
        justify-content: left;
    text-align:-webkit-left;
    }
    ul {
    list-style-type: none;
    margin: 0; padding: 0;
    li {
        width: 80%;

    display: flex;
    flex-wrap: nowrap;

        background: rgb(238, 238, 238);
        padding: 2em;border-radius: 4px;
        margin-bottom: 7px;
       
        grid-template-columns: 60px;
        p {
            
            font-weight: bold;
            margin-left: 20px;
        }
        img {
            border-radius: 50px;
            width: 10%
        }
    }
}
}