<!-- <h1 [ngClass]="{
  'gray': h1Style,
  'lerge': !h1Style}">Home</h1>
<button (click)='firstClick()'>
  Click Me
</button> -->

<!-- *ngIf='users' -->
<div>
    <h1>Home</h1>
<ul >
  <li *ngFor='let product of users'>
  <img [src]="'http://localhost:2300/'+product.products.product_image[0]">
  <p>{{product.products.product_name}}  </p>
</li>
</ul>
</div>